flows.json
[{"id":"f90b54a6.d848a8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"b07dbf8.bef354","type":"function","z":"f90b54a6.d848a8","name":"PreToken","func":"global.set(\"gd\",msg.payload.gd)\nglobal.set(\"re\",msg.payload.re)\nglobal.set(\"pe\",msg.payload.pe)\nglobal.set(\"lu\",msg.payload.lu)\nglobal.set(\"tc\",msg.payload.tc)\nglobal.set(\"ms\",msg.payload.ms)\nglobal.set(\"rs\",msg.payload.rs)\nglobal.set(\"ws\",msg.payload.ws)\nglobal.set(\"mp\",msg.payload.mp)\nglobal.set(\"rp\",msg.payload.rp)\nglobal.set(\"wp\",msg.payload.wp)\nglobal.set(\"op\",msg.payload.op)\nglobal.set(\"tn\",msg.payload.tn)\nglobal.set(\"pr\",msg.payload.pr)\nvar apikey=\"J_wXp9GAXYvbGmAVAL53APMLVFtVZ9s1lRjp-lk0t0V2\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":380,"wires":[["e0c336d9.da32e8"]]},{"id":"405f18ca.069388","type":"function","z":"f90b54a6.d848a8","name":"Pre Prediction","func":"var gd = global.get('gd')\nvar re = global.get('re')\nvar pe = global.get('pe')\nvar lu = global.get('lu')\nvar tc = global.get('tc')\nvar ms = global.get('ms')\nvar rs = global.get('rs')\nvar ws = global.get('ws')\nvar mp = global.get('mp')\nvar rp = global.get('rp')\nvar wp = global.get('wp')\nvar op = global.get('op')\nvar tn = global.get('tn')\nvar pr = global.get('pr')\nvar token=msg.payload.access_token\nvar instance_id=\"65f36bda-ab85-44da-96fb-4047d9bd83d7\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"gender\",\"race/ethnicity\",\"parental level of education\",\"lunch \",\"test preparation course\",\"math score\",\"reading score\",\"writing score\",\"Math_PassStatus\",\"Reading_PassStatus\",\"Writing_PassStatus\",\"OverAll_PassStatus\",\"Total_Marks\",\"Percentage\"], \"values\": [[gd,re,pe,lu,tc,ms,rs,ws,mp,rp,wp,op,tn,pr]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":340,"wires":[["b5082863.95c888"]]},{"id":"bdbb21ee.09d3b","type":"ui_form","z":"f90b54a6.d848a8","name":"","label":"","group":"8a715e00.b7484","order":0,"width":0,"height":0,"options":[{"label":"gender","value":"gd","type":"text","required":true,"rows":null},{"label":"race/ethnicity","value":"re","type":"text","required":true,"rows":null},{"label":"parental level of education","value":"pe","type":"text","required":true,"rows":null},{"label":"lunch","value":"Iu","type":"text","required":true,"rows":null},{"label":"test preparation course","value":"tc","type":"text","required":true,"rows":null},{"label":"math score","value":"ms","type":"number","required":true,"rows":null},{"label":"reading score","value":"rs","type":"number","required":true,"rows":null},{"label":"writing score","value":"ws","type":"number","required":true,"rows":null},{"label":"Math_PassStatus","value":"mp","type":"text","required":true,"rows":null},{"label":"Reading_PassStatus","value":"rp","type":"text","required":true,"rows":null},{"label":"Writing_PassStatus","value":"wp","type":"text","required":true,"rows":null},{"label":"OverAll_PassStatus","value":"op","type":"text","required":true,"rows":null},{"label":"Total_Marks","value":"tn","type":"number","required":true,"rows":null},{"label":"Percentage","value":"pr","type":"number","required":true,"rows":null}],"formValue":{"gd":"","re":"","pe":"","Iu":"","tc":"","ms":"","rs":"","ws":"","mp":"","rp":"","wp":"","op":"","tn":"","pr":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":71,"y":422.9999952316284,"wires":[["b07dbf8.bef354"]]},{"id":"3916238a.abb2bc","type":"ui_text","z":"f90b54a6.d848a8","group":"8a715e00.b7484","order":1,"width":0,"height":0,"name":"","label":"Grade","format":"{{msg.payload}}","layout":"row-spread","x":690,"y":440,"wires":[]},{"id":"b5082863.95c888","type":"http request","z":"f90b54a6.d848a8","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/ee39cae6-9011-4276-a069-cdc362609ebe/predictions","tls":"","persist":false,"proxy":"","authType":"","x":730,"y":260,"wires":[["a30a95b.4bf7c68"]]},{"id":"e0c336d9.da32e8","type":"http request","z":"f90b54a6.d848a8","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":440,"y":300,"wires":[["405f18ca.069388"]]},{"id":"47d8d824.dfffa8","type":"debug","z":"f90b54a6.d848a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":60,"wires":[]},{"id":"a30a95b.4bf7c68","type":"function","z":"f90b54a6.d848a8","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":160,"wires":[["3916238a.abb2bc","47d8d824.dfffa8"]]},{"id":"3aaa98ef.4af428","type":"inject","z":"f90b54a6.d848a8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":60,"y":320,"wires":[["b07dbf8.bef354"]]},{"id":"8a715e00.b7484","type":"ui_group","z":"","name":"Default","tab":"cea7438f.b4e94","order":1,"disp":true,"width":"6","collapse":false},{"id":"cea7438f.b4e94","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]